@font-face {
    font-family: 'fontAwesome';
    src:url('fonts/fontawesome-webfont.otf');
    src:url('fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('fonts/fontawesome-webfont.ttf') format('truetype'),
        url('fonts/fontawesome-webfont.woff') format('woff'),
        url('fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'Signika-Regular';
	src: url('fonts/Signika-Regular_gdi.eot');
	src: url('fonts/Signika-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Signika-Regular_gdi.woff') format('woff'),
		url('fonts/Signika-Regular_gdi.ttf') format('truetype'),
		url('fonts/Signika-Regular_gdi.otf') format('opentype'),
		url('fonts/Signika-Regular_gdi.svg#Signika-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

/*general css start*/
body{ font-family:'Signika-Regular';}
.container{ width: 95%;}
.white{ color: #fff !important;}
.MT30{ margin-top: 30px !important;}
a:hover{ text-decoration: none !important;}
a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{ outline: none !important;}
.ML5{ margin-left: 5px;}
.MT3{ margin-top: 3px !important;}
.PTB30{ padding: 30px 0px;}
.P0{ padding: 0px !important;}
.validation-error{ color: red; margin-top: 5px; font-size: 11px;}
/*general css over*/



/* Navbar CSS Start */

.custom-nav{ background: #1AC6FF; border: none; border-radius: 0px;}
.custom-nav .navbar-brand{ color: #fff; font-weight: bold; text-transform: uppercase;}
.custom-nav .navbar-brand:hover{ color: #5e5e5e; transition: 0.2s all ease-in; -moz-transition: 0.2s all ease-in; -webkit-transition: 0.2s all ease-in; -o-transition: 0.2s all ease-in; -ms-transition: 0.2s all ease-in;}
.custom-nav .search-box{ border: none; border-radius: 0px; box-shadow: none;}
.custom-nav.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover
{ background: #00A9E2;}
.custom-nav .btn-search{ line-height: 22px; border: none !important; border-radius: 0px;}
.custom-nav .user-dropdown{ min-width: 179px;}
.custom-nav .user-dropdown li{ padding-bottom: 7px;}
.custom-nav .user-dropdown li i{ padding-right: 10px; font-size: 16px;}
.custom-nav .user-dropdown li a{ padding-top: 7px; padding-bottom: 7px;}
.custom-nav .user-dropdown.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{ background: #D9534F; color: #fff;}
.custom-nav .img-avatar{ border-radius: 50%; width: 40px;}
.custom-nav .dropdown-toggle.white{ padding-top: 5px; padding-bottom: 5px;}
.custom-nav .dropdown-toggle.white span{ margin-left: 5px;}
/* Navbar CSS Over */



/* table css start*/

#clozers .table tbody tr td div.active{ height: 12px; width: 12px; border-radius: 50%; background: #44AD5D;}
#clozers .table tbody tr td div.inactive{ height: 12px; width: 12px; border-radius: 50%; background: #FFA726;}
#deals .table tbody tr td div.active{ height: 12px; width: 12px; border-radius: 50%; background: #44AD5D;}
#deals .table tbody tr td div.inactive{ height: 12px; width: 12px; border-radius: 50%; background: #FFA726;}
.tab-padding{ padding-left: 30px; padding-right: 30px;}
.table-custom thead{ background: #efefef;}
.table-custom thead th{ border-bottom: 0px !important;}
.table-custom .nav-tabs{ background: #424242; border-bottom:none !important; height: 45px !important;}
.table-custom .nav-tabs > li > a:hover{ border-color: none !important; padding: 11px auto !important}
.table-custom .nav-tabs li a{ color: #fff; height: 45px !important;}
.table-custom .nav-tabs li.active a, .table-custom .nav-tabs li a:hover, .table-custom .nav-tabs li a:focus{ color: #424242; border-radius: 0px;}
.table-custom .nav-tabs > li > a{ margin-right: 0px;}
.forget-me a{ padding-top: 17px !important; background: #00a9e2 !important; color: #fff !important;}
.tab-padding ul li{ width: 25%; text-align: center;}
.tab-padding ul li a{ padding-top:12px; padding-bottom: 12px; }
.table-custom .message-icon{ background: #44AD5D; padding: 4px 10px; color: #fff; text-align: center; border-radius: 5px;}
.table-custom .edit-icon{ background: #FFA726; padding: 4px 10px; color: #fff; text-align: center; margin-left: 5px; border-radius: 5px;}
.table-custom .message-icon:hover, .table-custom .edit-icon:hover{ background:#424242;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ border: 0px !important; background: #E7505A !important; color: #fff !important;}
/* table css over*/

.tab-padding .tab-content .tab-pane{ background: #fafafa; padding: 20px; border-left: 1px solid #aaa; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa; /* height: 350px; */}
.tab-padding .tab-content .tab-pane thead th, .tab-padding .tab-content .tab-pane tbody td{ text-align: center !important;}
.tab-padding .tab-content .tab-pane tbody td .active, .tab-padding .tab-content .tab-pane tbody td .inactive{ margin-left: 47%;}

/* Dashboard boxes css start */

.dashboard-boxes{ margin-top: 20px;}
.dashboard-boxes .dashboard-box{ border-radius: 10px; padding: 25px 0px;}
.dashboard-boxes .dashboard-box .col-md-8 h3{ margin-top: 10px; color: #fff; font-size: 38px;}
.dashboard-boxes .dashboard-box .col-md-4 i{ font-size: 65px; color: #fff; opacity: 0.8;}
.dashboard-boxes .dashboard-box-name{ padding: 8px 5px; font-size: 18px; font-weight: lighter; text-transform: uppercase; color: #000;}

.dashboard-boxes .dashboard-box.box-1{ background: #44ad5d;}
.dashboard-boxes .dashboard-box.box-2{ background: #e7505a;}
.dashboard-boxes .dashboard-box.box-3{ background: #757575;}
.dashboard-boxes .dashboard-box.box-4{ background: #ffa726;}

.notification-dropdown .fa{ font-size: 22px; padding-top: 10px; padding-bottom: 10px; color: #fff;}
.message-dropdown .fa{ font-size: 22px; padding-top: 8px; padding-bottom: 10px; color: #fff;}

.dashboard-for h1{ font-size: 24px; margin: 0px; color: #424242; line-height: 35px; font-size: 18px;font-weight: bold; text-transform: uppercase;}
.btn-add{ background: #FFCC00; color: #000; border-radius: 0px;}
/* Dashboard boxes css over */



/* form css start*/

.custom-form{ background: #fff; border:1px solid #ddd; padding-bottom: 15px; margin-bottom: 30px;}
.custom-form .header-form{ background: #efefef; padding-top: 15px; margin-bottom: 15px;}
.custom-form .fa-file-text-o{ font-size: 36px; float: right; padding-right: 10px; color: #9e9e9e;}
.custom-form h1{ padding-bottom: 15px; color: #9e9e9e;}
.custom-form input.form-control, .custom-form select, .custom-form textarea { border-radius: 0px !important; border:1px solid #ddd !important; box-shadow: none !important;}
.custom-form .form-group label{ font-weight: lighter;  color: #263238 ;}
.custom-form input.form-control:focus, .custom-form select:focus, .custom-form textarea:focus{ border:1px solid #00A9E2 !important; }
.form-right-img img{ width: 325px;}
.form-right-img img.width-200{ width: 200px !important;}
.form-right-img img.width-375{ width: 375px !important; padding: 40px 0px;}
.custom-form-title h2{ margin: 20px 0px; font-size: 22px; text-transform: uppercase; font-weight: bold; border-bottom: 1px solid #aaa; padding-bottom: 10px; color: #aaa}

.info-form{margin-bottom: 20px;}
/*form css over*/



/* Responsive css start */

@media screen and (min-width: 980px) and (max-width: 1108px) {
	.funkyradio .col-md-4 .funkyradio-primary label{ font-size: 12px;}
}

@media screen and (min-width: 768px) and (max-width: 979px) {
	.dashboard-boxes .dashboard-box{ padding: 12px;}
	.dashboard-boxes .dashboard-box .col-md-8 h3{ font-size: 24px;}
	.dashboard-boxes .dashboard-box .col-md-4 i{ font-size: 32px; line-height: 46px;}
	.dashboard-boxes .dashboard-box-name{ font-size: 16px; margin-bottom: 15px;}
	.dashboard-boxes .dashboard-box .col-md-8.col-xs-8{ padding: 0px;}
}

@media screen and (max-width: 767px){

}

@media screen and (max-width:550px){
	.dashboard-boxes .dashboard-box{ padding: 12px;}
	.dashboard-boxes .dashboard-box .col-md-8 h3{ font-size: 24px;}
	.dashboard-boxes .dashboard-box .col-md-4 i{ font-size: 32px; line-height: 46px;}
	.dashboard-boxes .dashboard-box-name{ font-size: 16px; margin-bottom: 15px;}
	.custom-nav.navbar-default .navbar-toggle .icon-bar{ background: #fff !important;}
	.custom-nav.navbar-default .navbar-toggle{ border-color: #fff;}
	.custom-nav.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{ background: #D9534F;}
	.custom-nav .navbar-collapse.collapse.in{ border-top: 0px !important;}
	.custom-nav form.navbar-form.navbar-left{ border: 0px !important; padding: 0px;}
	.user-dropdown li a{ color: #fff !important;}
	.navbar-collapse .navbar-collapsing{ height: 0px !important;}

	.header-form .dashboard-for h1{ font-size: 14px;}
	.text-center.form-right-img.PTB30 img{ width: 250px;}
}

/* Responsive css Over */